<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table border="5">
        <thead>
            <tr bgcolor="#d3d3d3">
                <td>N</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </thead>
        <tbody>
            <tr><td>1</td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td></td><td></td><td></td></tr>
            <tr><td>3</td><td></td><td></td><td></td></tr>
        </tbody>

    </table>


</body>
</html>